.primary-nav ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
}
  .primary-nav{
    display: flex;
    justify-content: space-between;
    padding: 6px 30px
  }

 .primary-nav ul li{
  margin: 12px;
  text-decoration: none;
}
.primary-nav ul li a{
 text-decoration: none;
 color: black ;
}
.primary-nav ul li a:hover{
 border-bottom:3px solid ;
 }
.header-image-wrapper img{
  width: 100%;
  position: relative;
}
.product-card{
  width: 25%;
 padding: 12px;
  background-color:white;
  margin: 13.5px;
}
.ms-products-wrapper{
  display: flex;
  
}

.box{
  background-color: black;

  width: 300px;
  height: 300px;
  position: relative;
}

.div{
  background-color: red;

  width: 60px;
  height: 60px;
  position: absolute;
  transform: translate(-50%,-50%);
top: 50%;
left: 50%;

}

.slider-img-overlay{
 
  width: 40%;
top: 40%;
  position: absolute;
transform: translateY(-50%);
  left: 7%;
}